<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p align="justify">
        <img src="D:\mothertheresa.jpg" height="100" width="100" align="left">
        <img src="D:\logomtdc.jpeg" height="100" width="100" align="right">
        <p align="center">
            <font color="red">MOTHER THERESA DEGREE COLLEGE</font><br>
            <font color="blue">AFFILIATED TO SV UNIVERSITY</font><br>
            <font color="green">MELUMOI POST,PALAMANER-517408</font><br>


        </p>
    </p>
    <hr align="center" width="100%" size="6" color="green">
</body>
</html>